<!DOCTYPE html>
<html lang="en">
<head>
{%block head%}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Thoth</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/basic.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='scripts/basic.js')}}"></script>
{%endblock%}
</head>
<body>
  <header>
    <div id="header-container">
      <h1 id="header-logo" title="Главная страница">THOTH</h1>
      <div id="search-bar">
        <img id="search-icon" src="{{url_for('static', filename='resources/search_icon.png')}}">
        <input id="search-input">
      </div>
      <div id="header-btn-container">
        {% if logged_in %}
        <img id="new-question-icon" src="{{url_for('static', filename='resources/new_question_icon.png')}}" title="Задать вопрос">
        <div class="dropdown">
          <img id="menu-icon" src="{{url_for('static', filename='resources/menu_icon.png')}}">
          <div class="dropdown-content">
            <div class="profile-data">
              <div class="username">{{my_name}}</div>
              <div class="profile-picture">
                <img src="{{url_for('static', filename='resources/default_prof_pic.png')}}">
                <p class="user-rating">{{rating}}</p>
              </div>
            </div>
            <a href="{{url_for('settings')}}">Предпочтения</a>
            {% if moderator %}
            <a href="{{url_for('reported')}}">Жалобы</a>
            <a href="{{url_for('hidden')}}">Скрытые</a>
            {% endif %}
          </div>
        </div>
        <img id="logout-icon" src="{{url_for('static', filename='resources/logout_icon.png')}}" title="Выйти">
      
      
        {% else %}
        <img id="login-icon" src="{{url_for('static', filename='resources/login_icon.png')}}" title="Войти">
        <img id="register-icon" src="{{url_for('static', filename='resources/register_icon.png')}}" title="Зарегистрироваться">
        {% endif %}
      </div>
    </div>
  </header>
  <div id="wrapper">
    <div id="main-container">
      {%block content%}{%endblock%}
    </div>
  </div>
</body>
</html>