{%extends "basic.html"%}
{%block head%}
{{super()}}
{%endblock%}

{%block content%}
<section class="question">
  <div class="question-header">
    <div class="qheader-date">
      <span class="date">{{data['question']['date']}}</span>
      <div class="tags-container">
        <span class="tag">Линейная алгебра</span>
        <span class="tag">Диффуры</span>
      </div>
    </div>
    <div class="qheader-user">
      <div class="voting">
        <div class="vote-up">
          <svg width="16" height="8" viewBox="0 0 16 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.20989 0.128235L15.7891 6.69206H0.630644L8.20989 0.128235Z" fill="#5C5252"/> <!--#8CAF00-->
          </svg>
        </div>
        <div class="vote-text">{{data['question']['votes']}}</div>
        <div class="vote-down">
          <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.20991 7.20667L0.630655 0.642842L15.7892 0.642842L8.20991 7.20667Z" fill="#5C5252"/>
          </svg>
        </div>
      </div>
      <div class="username">{{data['question']['author']['name']}}</div>
      <div class="profile-picture">
        <img src="{{url_for('static', filename='default_prof_pic.png')}}">
      </div>
    </div>
  </div>
  <div class="question-main">
    <div class="question-body">
      <div class="question-title">{{data['question']['title']}}</div>
      <p>{{data['question']['text']}}</p>
    </div>
    <div class="comments">
    {%for comment in data['question']['comments']%}
      <div class="comment">
        <div class="profile-picture">
          <img src="{{url_for('static', filename='default_prof_pic.png')}}">
        </div>
        <div class="comment-body">
          <p>{{comment['text']}}</p>
        </div>
      </div>
    {%endfor%}
    </div>
    {%if logged_in%}
    <div class="comment-send-form">
      <div class="profile-picture">
        <img src="{{url_for('static', filename='default_prof_pic.png')}}">
      </div>
      <textarea class="comment-text"></textarea>
    </div>
    <button class="comment-send-btn"><span>Отправить</span></button>
    {%endif%}
  </div>
</section>

{%for answer in data['answers']%}
<section class="answer">
  <div class="answer-header">
    <div class="aheader-date">
      <span class="date">{{answer['date']}}</span>
    </div>
    <div class="aheader-user">
      <div class="voting">
        <div class="vote-up">
          <svg width="16" height="8" viewBox="0 0 16 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.20989 0.128235L15.7891 6.69206H0.630644L8.20989 0.128235Z" fill="#5C5252"/> <!--#8CAF00-->
          </svg>
        </div>
        <div class="vote-text">{{answer['votes']}}</div>
        <div class="vote-down">
          <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.20991 7.20667L0.630655 0.642842L15.7892 0.642842L8.20991 7.20667Z" fill="#5C5252"/>
          </svg>
        </div>
      </div>
      <div class="username">{{answer['author']['name']}}</div>
      <div class="profile-picture">
        <img src="{{url_for('static', filename='default_prof_pic.png')}}">
      </div>
    </div>
  </div>
  <div class="answer-main">
    <div class="answer-body">
      <p>{{answer['text']}}</p>
    </div>
    <div class="comments">
    {%for comment in answer['comments']%}
      <div class="comment">
        <div class="profile-picture">
          <img src="{{url_for('static', filename='default_prof_pic.png')}}">
        </div>
        <div class="comment-body">
          <p>{{comment['text']}}</p>
        </div>
      </div>
    {%endfor%}
    </div>
    {%if logged_in%}
    <div class="comment-send-form">
      <div class="profile-picture">
        <img src="{{url_for('static', filename='default_prof_pic.png')}}">
      </div>
      <textarea class="comment-text"></textarea>
    </div>
    <button class="comment-send-btn"><span>Отправить</span></button>
    {%endif%}
  </div>
</section>
{%endfor%}

{%if logged_in%}
<section class="send-answer">
  <h2 id="send-answer-title">Ответ:</h2>
  <textarea id="send-answer-text"></textarea>
  <button id="answer-send-btn"><span>Отправить</span></button>
</section>
{%endif%}
{%endblock%}