{%extends "basic.html"%}
{%block head%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='styles/question.css')}}">
  <script>let data = {{data |tojson|safe}};</script>
  <script src="{{url_for('static', filename='scripts/question.js')}}"></script>
{%endblock%}

{%block content%}
<section class="question">
  <form method="post">
    <div class="question-body">
      <input type="text" id="title" name="title" placeholder="Введите заголовок..."><br>
      <textarea id="question" name="question" placeholder="Введите вопрос..."></textarea>
    </div>
    <div id="subject-div">
      <label for="subject">Предмет:</label><br>
      <select name="subject" id="subject"></select>
    </div>
    <div id="discipline-div" class="disabled-div">
      <label for="subject">Дисциплина:</label><br>
      <select name="discipline" id="discipline" disabled></select>
    </div>
    <input type="submit" class="submit-btn" disabled value="Отправить">
  </form>
</section>
{%endblock%}