* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Strong';
  src:url('../resources/Strong.ttf.woff') format('woff'),
      url('../resources/Strong.ttf.svg#Strong') format('svg'),
      url('../resources/Strong.ttf.eot'),
      url('../resources/Strong.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
}

body {
  background: #2C2626;
  font-family: 'Strong';
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

header {
  position: absolute;
  height: 67px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: rgba(130, 123, 123, 0.3);
}

#header-logo {
  font-size: 33.8778px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;

  color: #8CAF00;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0;

  position: absolute;
  right: 100%;
  margin-right: 10px;
  cursor: pointer;
}

#search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(130, 116, 116, 0.4);
  border: 0.846945px solid #8CAF00;
  box-sizing: border-box;
  border-radius: 6.49324px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#search-input {
  font-family: 'Strong';
  font-style: normal;
  font-weight: normal;

  background: transparent;
  border: 0;
  flex-grow: 1;
  color: #FFFFFF;
}

input:focus {
  outline: none;
}

#search-icon {
  width: 14.4px;
  height: 14.68px;
  margin: 5px;
  cursor: pointer;
}

#login-icon {
  width: 53px;
  height: 53px;

  position: absolute;
  left: 100%;
  margin-left: 10px;
  cursor: pointer;
}

#register-icon {
  width: 53px;
  height: 53px;

  position: absolute;
  left: 100%;
  margin-left: 90px;
  cursor: pointer;
}

#logout-icon, #new-question-icon {
  width: 53px;
  height: 53px;
  cursor: pointer;
  margin-left: 23px;
  display: block;
}

#header-container {
  margin: 0 auto;
  width: 848px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  left: 100%;
  margin-left: 20px;
  height: 53px;
}

#menu-icon {
  width: 53px;
  height: 53px;
  cursor: pointer;
  display: block;
}

.dropdown {
  margin-left: 23px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 54px;
  left: -44px;
  width: 141px;
  background-color: #423A3A;
  border-radius: 0 0 7px 7px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown:hover #menu-icon {
  border-bottom: 1px solid #8CAF00;
  box-sizing: content-box;
}

.dropdown-content a {
  display: block;
  height: 35px;
  border-top: 1px solid #8CAF00;
  width: 100%;
  text-align: center;
  line-height: 35px;
}

.profile-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background-color: #464040;
}

#search-bar {
  width: 632px;
  height: 27px;
}

#wrapper {
  width: 100%;
  margin-top: 67px;
}

#main-container {
  margin: 0 auto;
  width: 800px;
  background: #362F2F;
  padding: 17px 84px 50px 84px;
}

.profile-picture {
  display: flex;
  position: relative;
}

.profile-picture img {
  width: 47.15px;
  height: 47.15px;
}

.user-rating {
  position: absolute;
  bottom: -5px;
  background-color: rgba(140, 175, 0, 0.3);
  border-radius: 20px;
  min-width: 20px;
  text-align: center;
  font-size: 15px;
  min-height: 20px;
  line-height: 20px;
  padding: 0px 4px;
  left: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #8CAF00;
}