.question-body {
  margin-top: 15px;
  min-height: 270px;
  background: rgba(92, 82, 82, 0.3);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#title {
  font-family: 'Strong';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  background: #544A4A;
  color: #FFFFFF;
  border: 0.85px solid #8CAF00;
  border-bottom: none;
  box-sizing: border-box;
  padding: 7px 12px;
  border-radius: 6.5px 6.5px 0 0;
}

textarea {
  font-family: 'Strong';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  resize: none;
  border: 0.85px solid #8CAF00;
  color: #FFFFFF;
  min-height: 192px;
  background: #544A4A;
  box-sizing: border-box;
  margin: 0;
  flex-grow: 1;
  padding: 7px 12px;
  border-radius: 0 0 6.5px 6.5px;

  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

#subject-div {
  margin-top: 20px;
}

#subject-div, #discipline-div {
  position: relative;
}

#subject, #discipline {
  width: 100%;
  height: 37px;

  font-family: 'Strong';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  border: 0.85px solid #8CAF00;
  border-radius: 6.5px 6.5px;
  padding: 7px 12px;
  background: rgba(92, 82, 82, 0.3);
  color: #FFFFFF;

  margin-top: 10px;
  margin-bottom: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;

  transition: border-color 0.3s;
}

#subject-div::after, #discipline-div::after {
  content: "";
  background: url("../resources/select_arrow.png") no-repeat right;
  pointer-events: none;
  height: 17px;
  width: 25px;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 10px;

  transition: background-image 0.3s;
}

.disabled-div::after {
  background: url("../resources/select_arrow_disabled.png") no-repeat right;
}

#discipline:disabled {
  border-color: #505521;
}

.submit-btn {
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: 'Strong';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  padding: 0;

  width: 160px;
  height: 25px;
  box-shadow: 0px 1.12926px 1.12926px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 6.49324px;
  color: #000000;
  text-align: center;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 25px;
  transition: background-color 0.3s, color 0.3s;

  cursor: pointer;
  margin-left: auto;
  background: rgba(140, 175, 0, 0.8);
}

.question {
  padding-bottom: 20px;
}

.submit-btn:hover {
  background: rgba(140, 175, 0, 0.56);
}

.submit-btn:active {
  background: rgba(97, 121, 0, 0.67);
}

.submit-btn:disabled {
  background: #505521;
  color: black;
}